$line-height-base:        1.428571429;

.navbar{
  background-color: rgba(0, 0, 0, 0.1);
  color: #ececec;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 10rem;
  //padding: 0 3rem;

  a{
    color: #ececec;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 2rem;
    text-decoration: none;

    &:hover{
      color: whitesmoke;
    }

    &:focus{
      text-decoration: none;
    }
  }

  li{

    &+ li{
      margin: 0;
    }

    &.active a{
      background-color: #1B8C67;
    }

    a{
      color: #ececec;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      padding: 2rem 2rem 2rem;
      font-size: 2rem;

      &:hover{
        color: black;
      }

      &:focus{
        background-color: #1B8C67;
      }
    }
  }

  .header-title{
    font-weight: 300;
    font-size: 2rem;
    letter-spacing: 4px;
    padding: 2rem 0 2rem;
    margin: 0;
    line-height: $line-height-base;
  }
}